<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to Mars Missions Show Page</h1>

    <p><b>Mission name:</b> <%= mission.name %></p>
    <p><b>Mission launch date:</b> <%= mission.launchDate %></p>
    <p><b>Mission operator: </b><%= mission.operator %></p>
    <p><b>Mission Type:</b> <%= mission.missionType %></p>
  </body>
</html>
