<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to Mars Missions Show Page (Maybe?)</h1>

    <p><%= mission.name %></p>
    <p><%= mission.launchDate %></p>
    <p><%= mission.operator %></p>
    <p><%= mission.missionType %></p>
  </body>
</html>
